* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Inter", "sans-serif";
}

.commonIcons {
  font-size: 70px;
  margin-bottom: 15px;
}

.iconsTechStack {
  font-size: 25px;
  margin: 5px;
  /* flex-wrap: wrap; */
}

.commonIconsFooter {
  font-size: 25px;
  margin-right: 10px;
  /* margin-bottom: 15px; */
}

a:link {
  text-decoration: none;
}
